@model LoginModel

<h2>Logging in</h2>

<form method="post" asp-action="Login" asp-controller="Account" asp-anti-forgery="true"
      asp-route-returnUrl="@Model.ReturnURL">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Email">Enter Email</label><br />
            <input type="text" asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Enter Password</label><br />
            <input asp-for="Password"></>
            <span asp-validation-for="Password"></span>
        </div>
        <br />
        <div>
            <input type="submit" value="Enter" class="btn btn-outline-dark">
        </div>
    </div>
</form>