<p2>Your Order Has Been Successfully Placed</p2>

<p>Order number: @ViewBag.OrderId</p>

<div class="form-group">
    <a class="btn btn-outline-secondary" asp-controller="Product" asp-action="Index">Back To Shopping</a>
</div>