@model ECommerceWebApp.ViewModels.OrderViewModel

<h2>Order placement</h2>

@if (Model != null)
{
    <form method="post" asp-controller="Order" asp-action="PlaceOrder">
        <table class="table">
            <thead>
                <tr>
                    <th>Selected address</th>
                    <th>Address</th>
                    <th>City</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.UserAddresses)
                {
                    <tr>
                        <td>
                            <input type="radio" name="ShippingAddressId" value="@item.Id">
                        </td>
                        <td>@item.Street</td>
                        <td>@item.City</td>
                        <td>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

        <button type="submit" class="btn btn-primary">Confirm order</button>
    </form>
}