@model ECommerceWebApp.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details of the product";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <h1 class="text-center">Details for @Model.Name</h1>
            <div class="text-center">
                <img id="PicturePreview" src="@Model.PictureURL" alt="Product Image">
            </div>
            <div>
                <label asp-for="PictureURL" class="control-label"></label>
                <input asp-for="PictureURL" class="form-control" readonly>
            </div>

            <div>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly>
            </div>

            <div>
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly>
            </div>

            <div>
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" readonly>
            </div>

            <div>
                <label asp-for="ProductCategory" class="control-label"></label>
                <input asp-for="ProductCategory" class="form-control" readonly>
            </div>

            <div>
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
            </div>
    </div>
</div>