@model Address

@{
    ViewData["Title"] = "Add a new address";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new address</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="AddAddress">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="PostalOrZipCode" class="control-label"></label>
                        <input asp-for="PostalOrZipCode" class="form-control">
                        <span asp-validation-for="PostalOrZipCode" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control">
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street" class="form-control">
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="AddAddress" class="btn btn-outline-success float-right">
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>